

.lw { font-size: 50px;
color: #B22222
}

body{
	align-content: center;
	background: #EEE8AA;
}

section{
	margin-bottom: 5px;
	margin-left: 20px;
	align-self: center;
	border-color: pink; 
}

section{
	color: #4682B4;
	font-size: 30px;
}
